a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  min-width: 160px;
  margin: 12px 0;
  border: 2px solid var(--button-primary);
  border-radius: 4px;
  padding: 0.7em 1.2em;
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background-color: var(--button-primary);
  color: var(--white);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  > i.icon {
    font-size: var(--icon-size-s);
    padding-right: var(--spacing-xxxs);
  }
}

.button.primary{
  color: var(--white) !important;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--button-primary-hover);
  cursor: pointer;
  color: var(--white);
  border: 2px solid var(--button-primary-hover);
}

a.button:active,
button:active{
  background-color: var(--button-primary-active);
  cursor: pointer;
  color: var(--white);
  border: 2px solid var(--button-primary-active);
}

button:disabled,
button:disabled:hover {
  background-color: var(--button-primary-disabled);
  color: var(--white);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid var(--button-primary);
  color: var(--button-secondary);
}

a.button.secondary.disabled,
button.secondary.disabled {
  background-color: unset;
  border: 2px solid var(--button-primary-disabled);
  color: var(--button-primary-disabled);
}

a.button.secondary.disabled:hover,
button.secondary.disabled:hover {
  background-color: unset;
  border: 2px solid var(--button-primary-disabled);
  color: var(--button-primary-disabled);
  cursor: not-allowed;
}

a.button.secondary:hover,
button.secondary:hover {
  background-color: var(--button-primary-hover);
  color: var(--white);
  border: 2px solid var(--button-primary-hover);
}

a.button.tertiary,
button.tertiary {
  background-color: var(--white);
  border: 1px solid var(--navy);
  color: var(--navy);
  font-weight: 700;

  > i.icon {
    font-size: var(--icon-size);
  }
}

a.button.tertiary:hover,
button.tertiary:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
}

a.button.fourth,
button.fourth {
  background: var(--green);
  color: var(--white);
  border: 1px solid var(--green);
  min-width: 244px;
  padding: 7px 10px;
}

a.button.fourth:hover,
button.fourth:hover {
  background: #58831B;
}

button[disabled],
button[disabled]:hover,
a.button.disabled,
a.button.disabled:hover,
button.disabled,
button.disabled:hover {
   background-color: var(--button-primary-disabled);
  color: var(--white);
  border: 0;
  cursor: not-allowed;
}

a.button.fourth u{
  text-decoration: none;
}

.section.columns-container a.button.tertiary {
  background-color: var(--white);
  border: 1px solid var(--navy);
  color: var(--navy);
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
  min-width: 315px;
  padding: 15px 10px 16px 0;
  text-align: center;
}

.section.columns-container a.button.tertiary:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
}
