@font-face {
  font-family: InspireTWDC;
  src: url("/fonts/inspire/InspireTWDC-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: InspireTWDC;
  src: url("/fonts/inspire/InspireTWDC-Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: InspireTWDC;
  src: url("/fonts/inspire/InspireTWDC-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: InspireTWDC;
  src: url("/fonts/inspire/InspireTWDC-Heavy.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: InspireTWDC;
  src: url("/fonts/inspire/InspireTWDC-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Pepmdx;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/pepmdx/pepmdx.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: asIcons;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/woff/as-icons.woff") format("woff");
  font-display: swap;
}
