@font-face {
	font-family: InspireTWDC-fallback;
	size-adjust: 99.529%;
	src: local('Arial');
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  scroll-margin: 40px;
}

h1, .h1 { font-size: var(--heading-font-size-xxxl); }
h2, .h2 { font-size: var(--heading-font-size-xxl); }
h3, .h3 { font-size: var(--heading-font-size-xl); }
h4, .h4 { font-size: var(--heading-font-size-l); }
h5, .h5 { font-size: var(--heading-font-size-m); }
h6, .h6 { font-size: var(--heading-font-size-s); }

sup, sub {
  font-size: 0.65em;
}